<div class="container">
	<form [formGroup]="formularioCreado">
		<div class="form-group">
			<label>Nombre</label>
			<input type="text" name="nombre" class="form-control" formControlName="nombre">
			<div *ngIf="formularioCreado.controls['nombre'].invalid && formularioCreado.controls['nombre'].dirty" class="alert alert-danger" role="alert">
				<span *ngIf="formularioCreado.controls['nombre'].errors.required">El nombre es requerido</span>
			</div>
			<!-- {{formularioCreado.controls['nombre'].invalid}} --> <!-- es invalido -->
			<!-- {{formularioCreado.controls['nombre'].dirty}}  --><!-- esta sucio,porque ya he escrito en el input -->
		</div>
          
       

		<div class="form-group">
			<label>Correo</label>
			<input type="email" name="" class="form-control" formControlName="correo">
			<div *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">
				
				<div  class="alert alert-danger" role="alert" *ngIf="formularioCreado.controls['correo'].errors.email">
					El correo es requerido
				</div>

				<div class="alert alert-danger" role="alert" *ngIf="formularioCreado.controls['correo'].errors.required">
					No parece un correo valido
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>Contraseña</label>
			<input type="mpassword" name="" class="form-control" formControlName="password">


			<div *ngIf="formularioCreado.controls['password'].invalid && formularioCreado.controls['password'].dirty">
				
				<div class="alert alert-danger" role="alert" *ngIf="formularioCreado.controls['password'].errors.required">
					La contraseña es requerido
				</div>

				<div class="alert alert-danger" role="alert" *ngIf="formularioCreado.controls['password'].errors.minlength">
					La contraseña puede tener al menos 8 caracteres
				</div>
			</div>
		</div>

		<button *ngIf="esNuevo" [disabled]="!formularioCreado.valid" type="" class="btn btn-primary" (click)="agregar()">Enviar</button>
		<button *ngIf="!esNuevo" [disabled]="!formularioCreado.valid" type="" class="btn btn-danger" (click)="editar()">Editar</button>
	</form>
</div>
<hr>
<div class="container border">
	<br>
	<div *ngFor="let usuario of usuarios;let posicion=index">
		<h4>{{usuario.nombre}} tiene la posicion :{{posicion}}</h4><br>
		<p>{{usuario.correo}}</p><br>
		<p>{{usuario.password}}</p>
		<button type="" class="btn btn-success" (click)="editarUsuario(posicion)">Editar</button>
		<button type="" class="btn btn-danger" (click)="eliminarUsuario(posicion)">Eliminar</button>
		<br>
	</div>
<!-- <p>es valido:{{formularioCreado.valid}}</p>
	<p>{{formularioCreado.value|json}}</p> -->
</div>